{'cam_id': 'pexels-kelly-lacy-5473757 (1440p).mp4', 'fps': 30, 'width': 1920, 'height': 1080}
{'name': 'HW_01', 'area': [(324, 35), (716, 45), (9, 546), (629, 602)], 'tracker_dimensions': (400, 900), 'vehicle_direction': 1, 'abs_pos': [(392, 862), (394, 47)], 'abs_distance': 10.0, 'distorted_factor': 0.05000000000000002, 'buffer_dimensions': (196, 250), 'speed_limits': {'car': 10.0, 'motorbike': 10.0, 'bus': 10.0, 'truck': 10.0}}
{'name': 'HW_02', 'area': [(705, 64), (1028, 61), (565, 870), (1193, 857)], 'tracker_dimensions': (400, 900), 'vehicle_direction': 1, 'abs_pos': [(385, 849), (396, 150)], 'abs_distance': 10.0, 'distorted_factor': 0.0, 'buffer_dimensions': (200, 250), 'speed_limits': {'car': 10.0, 'motorbike': 10.0, 'bus': 10.0, 'truck': 10.0}}
{'name': 'HW_03', 'area': [(1020, 24), (1382, 15), (1194, 939), (1911, 844)], 'tracker_dimensions': (400, 900), 'vehicle_direction': 1, 'abs_pos': [(5, 818), (5, 208)], 'abs_distance': 10.0, 'distorted_factor': 0.05, 'buffer_dimensions': (200, 200), 'speed_limits': {'car': 10.0, 'motorbike': 10.0, 'bus': 10.0, 'truck': 10.0}}
