{'cam_id': '1', 'fps': 30, 'width': 640, 'height': 360}
{'name': 'HW_left', 'area': [(224, 177), (301, 184), (63, 279), (258, 303)], 'tracker_dimensions': (400, 900), 'vehicle_direction': 0, 'abs_pos': [(247, 823), (252, 139)], 'abs_distance': 10.0, 'distorted_factor': 0.05, 'buffer_dimensions': (120, 250), 'speed_limits': {'car': 10.0, 'motorbike': 10.0, 'bus': 10.0, 'truck': 10.0}}
{'name': 'HW_right', 'area': [(345, 222), (452, 209), (380, 351), (595, 309)], 'tracker_dimensions': (400, 900), 'vehicle_direction': 1, 'abs_pos': [(160, 797), (163, 253)], 'abs_distance': 10.0, 'distorted_factor': 0.0, 'buffer_dimensions': (120, 236), 'speed_limits': {'car': 10.0, 'motorbike': 10.0, 'bus': 10.0, 'truck': 10.0}}
